body,
html {
    height: 100%;
}

body,
button {
    background-color: black;
    color: white;
    font-family: 'Secular One', sans-serif;
}

button {
    width: auto;
    border-radius: 8px;
    padding: 1px 10px;
    border: 2px solid rgba(255, 255, 255, 0.664);
}

#startContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startContainer img {
    width: 420px;
    height: auto;
    margin: -36px 0 36px 0;
}

#endContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#gameContainer img {
    width: 420px;
}
