body,
html {
    height: 100%;
}

body,
button {
    background-color: black;
    color: white;
    font-family: 'Secular One', sans-serif;
}

button {
    width: auto;
    border-radius: 8px;
    padding: 1px 10px;
    border: 2px solid rgba(255, 255, 255, 0.664);
}

#startContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
}

#startContainer img {
    width: 420px;
    height: auto;
    margin: -36px 0 36px 0;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameTitle {
    font-size: 58px;
    font-weight: bolder;
}

.five {
    margin: -32px 0 40px 0;
}

.playBox {
    border: 2px solid white;
    border-radius: 8px;
    margin: 42px 0;
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* make border and text invisible - place img as background */

#rock,
#paper,
#scissors {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.plyr {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: -36px;
}

.figure {
    width: 340px;
    align-self: flex-end;
    margin-right: 164px;
}

#endContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
